*, *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.loadScreen{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to right,#36d1dc ,#5b86e5);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.gameTitle{
    color: rgb(255, 0, 0);
    margin: 5rem;
    font-size: 5rem;
}
button{
    margin: 3rem;
    cursor: pointer;
    height: 3rem;
    width: 7rem;
    border-radius: 1rem;
    background-color: rgb(10, 218, 10);
    font-size: 1.5rem;
    color: white;
}
button:hover{
    background-color: white;
    color: rgb(10, 218, 10);
}
.gameBoard{
    background: linear-gradient(to right,#36d1dc ,#5b86e5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objectCount{
    height: 2rem;
    margin: 1rem;
    font-size: 1.5rem;
}
.objectContainer{
    position: absolute;
    width: 60vw;
    left: 20%;
    right:20%;
    top: 5%;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}
.object{
    background-color: black;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin: 1rem;
}
.textContainer{
    margin-bottom: 5rem;
    margin-top: auto;
    display: flex;
    align-items: center;
}
.click{
    height: 2rem;
    width: auto;
    background-color: #081a3f;
    color: white;
    margin: 1rem;
    border-radius: .5rem;
}
.click:hover{
    color: black;
    background: white;
}
.text{
    height: 2rem;
    width: 5rem;
    font-size: 1.3rem;
    text-align: center;
}
.endScreen{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,#36d1dc ,#5b86e5);
}
.loseHead{
    font-size: 3rem;
}
@media(max-width:600px){
    .objectContainer{
        grid-template-columns: repeat(3, 1fr);
    }
    .textContainer{
        margin-bottom: 1rem;
    }
}

